@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float1 {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}
@keyframes float2 {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-40px); }
}
@keyframes float3 {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
}

.animate-float-1 {
  animation: float1 12s ease-in-out infinite;
}
.animate-float-2 {
  animation: float2 10s ease-in-out infinite;
}
.animate-float-3 {
  animation: float3 8s ease-in-out infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
.animate-typing {
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid gray;
}
